<a href="https://colab.research.google.com/github/saketpala-cmd/beginning-bioinformatics/blob/main/Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name= input("your name: ")
print("Hello", name)

your name: Saketh
Hello Saketh

In [3]:
import math
a = float(input("a:")); b = float(input("b:"))
print(math.hypot(a, b))

a:5
b:8
9.433981132056603

In [9]:
my_list = ["Hello", "World", "Charles Darwin"]
print(my_list[1])              # indexing starts at 0 â†’ prints "World"
my_list[2] = "Alfred R. Wallace"  # replace
my_list.append("Charles Darwin")  # append back

World

In [10]:
my_list.insert(1, "Inserted item")

In [11]:
# From the P7 list, print "World" and "Alfred R. Wallace"
print(my_list[2:4])   # end index is non-inclusive
# Strings slice the same way:
s = "HelloWorldCharlesDarwinAlfred R. Wallace"
print(s[0:5], s[5:10])  # "Hello" "World"

['World', 'Alfred R. Wallace']
Hello World

In [12]:
x = int(input("x: ")); y = int(input("y: "))
if x == y:
    print("Sum:", x + y)
else:
    print("Difference:", x - y)

x: 9
y: 8
Difference: 1

In [13]:
i = 1
while i <= 3:
    print("Counting!")
    i += 1

Counting!
Counting!
Counting!

In [14]:
names = ["Ada", "Linus", "Grace"]
for name in names:
    print("Hello", name)

Hello Ada
Hello Linus
Hello Grace

In [15]:
iterations = 10
for n in range(iterations):  # 0..9
    print(n)
# Every 3rd number from 9..27 inclusive:
for n in range(9, 28, 3):
    print(n)

0
1
2
3
4
5
6
7
8
9
9
12
15
18
21
24
27